/* Estilos específicos para el formulario de ingreso */

* {
    font-family: 'Poppins', sans-serif;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #e8620f;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #e8620f;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #999;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #e8620f;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff8539;
}

p {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}

p a {
    color: #e8620f;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #e8620f;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Estilos para dispositivos móviles */
@media (max-width: 480px) {
    form {
        padding: 20px;
    }

    form h2 {
        font-size: 20px;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        padding: 10px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }
}